<img src="/public/images/spotify-background.jpeg" alt="Spotify">
<div class="search-artist">
<form action="/">
    <label>
        Search for an Artist
        <input type="text" name="artist">
    </label>
</form>
</div>
